.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  background-color: #6a57b3;
  height: 100px;
}
.left {
  background-color: #b80aa9;
  height: 450px;
  width: 20%;
  float: left;
}
.main {
  background-color: #bec5ee;
  height: 450px;
  width: 60%;
  float: left;
}
.right {
  background-color: #0c90b8;
  height: 450px;
  width: 20%;
  float: right;
}
.footer {
  background-color: hsl(106, 44%, 65%);
  height: 80px;
  clear: both;
}
body {
  background-color: rgb(206, 198, 198);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.Home {
  font-size: 30px;
  color: rgb(43, 255, 0);
  text-decoration: none;
  transition-duration: 0.44s;
  display: flex;
  padding: 13px;
}
a:hover {
  background: #000000;
  color: #fff;
  padding-left: 33px;
}
